
<div class="reserva-wrapper">
  <header class="reserva-header">
    <h1>Bienvenido al sistema de gestión de reservas</h1>
    <p>Selecciona qué deseas reservar</p>
  </header>

  <div class="reserva-grid">
    <div class="reserva-card">
      <i class="bi bi-door-open fs-1 text-success mb-3"></i>
      <h2>Reserva de Aulas</h2>
      <p>Consulta disponibilidad y gestiona reservas de aulas del centro.</p>
      <div class="btn-container">
        <a routerLink="/reservar-aula" class="btn btn-success">Reservar Aula</a>
      </div>
    </div>

    <div class="reserva-card">
      <i class="bi bi-box-seam fs-1 text-success mb-3"></i>
      <h2>Reserva de Materiales</h2>
      <p>Accede fácilmente a la reserva de dispositivos, equipos y materiales educativos.</p>
      <div class="btn-container">
        <a routerLink="/reservar-material" class="btn btn-success">Reservar Material</a>
      </div>
    </div>
  </div>
</div>
