<div class="main-container">
  <div class="view-container shadow mx-3 mx-xxl-0">
    <div class="view-title">
      <h1><i class="bi bi-person-fill"></i> Iniciar Sesión</h1>
    </div>

    <div class="view-body">
      <form (ngSubmit)="login()">
        <div class="mb-3 input-group">
          <span class="input-group-text"><i class="bi bi-person"></i></span>
          <input
            type="text"
            class="form-control"
            id="usuario"
            [(ngModel)]="usuario"
            name="usuario"
            placeholder="Introduce tu usuario"
            required
          />
        </div>

        <div class="mb-3 input-group">
          <span class="input-group-text"><i class="bi bi-key"></i></span>
          <input
            [type]="mostrarPassword ? 'text' : 'password'"
            class="form-control"
            id="clave"
            [(ngModel)]="clave"
            name="clave"
            placeholder="Introduce tu contraseña"
            required
          />
          <span class="input-group-text btn" (click)="togglePassword()">
            <i class="{{ mostrarPassword ? 'bi bi-eye-slash' : 'bi bi-eye' }}"></i>
          </span>
        </div>

        <div class="d-flex justify-content-center gap-3 mt-4">
          <button type="submit" class="btn btn-green">
            <i class="bi bi-check-circle-fill"></i> Entrar
          </button>
          <button type="button" class="btn btn-red" (click)="limpiar()">
            <i class="bi bi-x-circle-fill"></i> Limpiar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
