<p>perfil-profesor works!</p>
<div class="perfil-container">
    <h2>Mi Perfil</h2>
    <div class="perfil-card">
      <p><strong>Nombre completo:</strong> {{ profesor.nombre }}</p>
      <p><strong>Usuario:</strong> {{ profesor.usuario }}</p>
      <p><strong>Email:</strong> {{ profesor.email }}</p>
      <p><strong>DNI:</strong> {{ profesor.dni }}</p>
      <p><strong>Curso académico:</strong> {{ profesor.curso_academico }}</p>
      <p><strong>Departamento:</strong> {{ profesor.departamento }}</p>
      <p><strong>Alias:</strong> {{ profesor.alias }}</p>
    </div>
  </div>
  