.admin-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: #153529;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: white;
  z-index: 1000;
  padding: 0 1rem;
}

.admin-navbar .nav-link {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  font-weight: 500;
}

.admin-navbar .nav-link:hover {
  color: #a9dfbf;
}

button.btn-outline-light:hover {
  background-color: white;
  color: #153529;
  border-color: white;
}

/* Ajuste para que el contenido no quede detrás del header */
body {
  padding-top: 75px;
}
