.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e4430;
  color: white;
  padding: 10px 20px;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-text {
  font-weight: 500;
  font-size: 16px;
}

.logout-button {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.logout-button:hover {
  color: #ff5e5e;
}
